.color-selection {
  display: flex;
  gap: 10px;
}

.color-swatch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 3px solid transparent;
  &:hover {
    transform: scale(1.2);
  }
  &.selected {
    border-color: #ff007f;
  }
}
