.toolbar {
  position: absolute;
  display: flex;
  //   flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: grab;
  user-select: none;
  transition: top 0.2s, left 0.2s;
}

.eraser-tool {
  display: flex;
  justify-content: center;
}

.eraser-btn {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.eraser-btn:hover {
  background-color: #ff007f;
}

.eraser-btn.active {
  background-color: #ff007f;
}
